<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <!-- Parte 7: Supresion de verificaciones -->
    <module name="SuppressionFilter">
        <property name="file" value="${config_loc}/suppressions.xml"/>
        <property name="optional" value="true"/>
    </module>

    <!-- Parte 6: Verificar encabezados -->
    <module name="Header">
        <property name="header" value="// Copyright (C) 2025"/>
        <property name="fileExtensions" value="java"/>
    </module>

    <module name="TreeWalker">
        <!-- Metodo Javadoc -->
        <module name="JavadocMethod"/>

        <!-- Nombre del metodo -->
        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
        </module>

        <!-- Espacio en blanco despues de COMMA y SEMI -->
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA, SEMI"/>
        </module>
    </module>
</module>
